.job-list-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Background for the job list page */
    margin: 0 auto  ;
    padding: 10px;
    margin-top: 20px;
    max-height: 100vh; /* Full height of the viewport */
    overflow-y: scroll;
    overflow-x: hidden;
}

.job-list-container h1 {
    color: #333; /* Title color */
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below title */
    padding: 20px;
}   

.job-list {
    list-style-type: none;
    padding: 0;
}

.job-list li {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    transition: transform 0.2s;
}

.job-list li:hover {
    transform: scale(1.02);
}

h2 {
    margin: 0;
    color: #007BFF;
}

p {
    margin: 5px 0;
    color: #555;    
}

.job-list-main-container {
    display: flex;
    flex-direction: row;     
    justify-content: flex-start;   
    align-items: center;
    /* top: 0px; 
    position: sticky */
}

.job-detail-side-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Background for the job list page */
    margin: 0 auto;
    margin-top: 20px;
    max-height: 100vh; /* Full height of the viewport */
    padding: 20px;
}

.job-detail-side {
    margin-left: 32px;
    min-width: 350px;
    max-width: 600px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    transition: transform 0.2s;
    align-self: center;
    position: sticky;
    top: 20px; /* Adjust based on your layout */
}